<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="HelpSeek"
			 connectionString="Data Source=localhost\MSSQLSERVER01;Initial Catalog=HelpSeek;Integrated Security=True;Encrypt=False"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<appSettings>
		<add key="ResetDatabase" value="false" />
	</appSettings>
</configuration>
